header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
  }
  .container-fluid{
      margin-left: 5px;
      margin-top: 55px;
      border: 4px solid#224163;
      padding: 1rem 2rem;
      background-color: #ffffff;
  }
  
  .navbar-brand{
      gap: 75px;
  }
  
  .navbar-nav{
      gap: 30px;
  }
  
  .navbar-brand a {
      font-family: 'Bebas Neue';
      font-size: 2.3rem;
      text-decoration: none;
      color: #ff6a00; 
  }
  
  .navbar-brand a:hover {
      text-decoration: overline;
  }
  
  .btn-lg {
      font-family: 'Bebas Neue';
      text-transform: uppercase;
      letter-spacing: 7px;
      font-size: 5rem;
      padding: 1rem 1.5rem;
      font-weight: bold;
      color: rgb(250, 161, 28);
      text-shadow: 5px 4px rgba(0, 0, 0, 0.181);
      background-color: #fff; 
      border: 2px solid #ffffff; 
  }
  
  .btn-lg:hover {
      border: 3px solid rgb(0, 0, 0);
      border-radius: 0px;
      box-shadow: 8px 8px black;
      background-color: #3a4551;
      color: #dfc296;
  }

.book_section{
    margin-top: 50px;
    margin-bottom: 0px;
}

  .book_section h4 {
    font-family: 'Monoton';
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 35px;
  }
  
  .book_section h4 span {
    color: #d4b88b;
    font-size: 2rem;

  }
  
  .book_section h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 2px;
    background-color: #afe2a1;
  }
  
  .book_section form {
    padding: 55px 55px;
    -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  }
  
  .book_section form label {
    font-family: 'Special Elite';
    color: #000000;
  }
  
  .book_section form .form-control {
    font-family: 'Arvo';
    width: 100%;
    background-color: transparent;
    border: 1px solid #8f0505;
    height: 45px;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  
  .book_section form .form-control::placeholder {
    color: #d4b88b;
  }
  
  
  .book_section form button.btn {
    font-family: 'Bebas Neue';
    background-color: #d4b88b;
    color: #ffffff;
    padding: 10px 45px;
    border-radius: 35px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  
  .book_section .nice-select:after {
    content: "\f107";
    font-family: FontAwesome;
    border: none;
    width: auto;
    height: auto;
    -webkit-transform: none;
            transform: none;
    top: 7px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .book_section .nice-select.open:after {
    content: "\f106";
  }


  .book_section .form-image {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
  }



.about_section{
    margin-top: 0px;
    margin-bottom: 60px;
}


.about_section h2{
  color: #224163;
  font-family: 'Bebas Neue';
  font-size: 5rem;
}

.about_section p{
  font-family: 'Poppins';
  font-size: 1.3rem;
  font-style: oblique;
}



  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .img-box img {
    max-width: 100%;
  }
  
  .about_section .detail-box p {
    color: #999;
    margin-top: 15px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #d4b88b;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .about_section .detail-box a:hover {
    background-color: #628a6089;
  }





  .treatment_section {
    position: relative;
    margin-bottom: 60px;
  }
  
  .treatment_section .side_img {
    position: absolute;
    right: 15px;
    width: 175px;
    height: auto;
    bottom: 125px;
  }
  
  .treatment_section .side_img img {
    width: 100%;
  }
  
  .treatment_section .heading_container h2 {
    font-family: 'Arvo';
    text-transform: none;
    color: #224163;
    text-shadow: 2px 2px #9cadc0;
  }
  
  .treatment_section p{
    font-family: 'Poppins';
  }



  .treatment_section .box {
    margin-top: 45px;
  }
  
  .treatment_section .box .img-box {
    width: 65px;
  }
  
  .treatment_section .box .img-box img {
    width: 100%;
  }
  
  .treatment_section .box .detail-box {
    margin-top: 15px;
  }
  
  .treatment_section .box .detail-box h4 {
    font-weight: bold;
    color: #d4b88b;
  }
  
  .treatment_section .box .detail-box a {
    font-family: 'Special Elite';
    text-transform: uppercase;
    color: #00c6a9;
  }
  
  .treatment_section .box .detail-box a:hover {
    color: #252525;
  }

  
.client_section{
    margin-bottom: 70px;
}

.client_section h2{
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: #224163;
}

  .client_section .heading_container {
    margin-bottom: 35px;
  }
  
  .client_section .heading_container h2 {
    text-transform: uppercase;
    margin: 0;
  }
  
  .client_section .box {
    margin: 15px 45px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding: 25px;
  }
  
  .client_section .box .client_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .client_section .box .client_info .client_name h5 {
    font-family: 'Arvo';
    font-weight: 600;
    color: #d4b88b;
  }
  
  .client_section .box .client_info .client_name h6 {
    font-family: 'Special Elite';
    margin-bottom: 0;
    color: #bfc0c0;
    font-weight: normal;
    font-size: 15px;
  }
  
  .client_section .box .client_info i {
    font-size: 24px;
  }
  
  .client_section .box p {
    font-family: 'Poppins';
    font-size: 1.2rem;
    margin-top: 15px;
  }
  
  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    width: 45px;
    height: 125px;
    background-color: #d4b88b;
    opacity: 1;
    font-size: 28px;
    font-weight: bold;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .client_section .carousel-control-prev {
    left: 0;
  }
  
  .client_section .carousel-control-next {
    right: 0;
  }



  footer {
    background-color: #628a6089;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .semi-transparent {
    color: rgba(0, 0, 0, 0.5);
}

.col1{
    font-family: 'Arvo';
    font-size: 1rem;
    font-style: oblique;
    color: #000000;
}

.col2{
    font-family: 'Arvo';
    font-size: 1rem;
    color:#224163;
}

.semi-transparent{
    font-family: 'Arvo';
    font-size: 0.8rem;
    color:#989898;
}