.titulo123{
    text-align: center;
    align-items: center;
   font-size: 30px;
font-family:'Times New Roman', Times, serif

}

#texto3i{

   margin-bottom: 280px;
}


#texto4i{

    margin-bottom: 270px;
}